.login
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center

  &.content
    align-items: center

  > div
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    max-width: 300px

    .fields
      display: flex
      flex-direction: column
      max-width: 270px

      > div
        margin: 0 0 20px 0

        &:last-child
          margin: 0

      & ~ div
        $spacing: 10px
        padding: $spacing $spacing $spacing * 2 $spacing

  .hint
    font-style: italic